@media only screen and (min-width :0px) and (max-width :959px){
   .app .header .nav ul li{
       display:none;
   }
   .app .header .nav ul li .mylogo{
       display:block;
   }
   .nav-icon{
       display:block;
   }
}